{% extends 'manager/base.html' %}

{% block body %}

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-info">
                <strong style="text-align: center">{{ message }}</strong>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
            </div>

        {% endfor %}
    {% endif %}
    <br>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
            {% load staticfiles %}
          <img src="{% static 'home/images/NIT-Karnataka.jpg' %}" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2 style="color: white">NITK Surathkal</h2>
          </div>
        </div>
        <div class="w3-container">
           <br>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>NH 66, Srinivas Nagar, Surathkal, Surathkal, Mangaluru, Karnataka 575025, India</p> <br>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ex@mail.com</p> <br>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
          <hr>

          <p class="w3-large"><b><i class="fas fa-list-ul fa-fw w3-margin-right w3-text-teal"></i><a href="{% url 'manager' %}">Recent Bookings</a></b></p>

          <br>

            {%  for g in guesthouse %}

                <p class="w3-large" style="margin-left: 10%;"><b><i class="fas fa-circle fa-fw w3-margin-right w3-text-teal"></i><a href="{% url 'manager1' g.id%}">{{ g.name }}</a></b></p>

            <br>

            {% endfor %}



            <p class="w3-large"><b><i class="fas fa-chart-line fa-fw w3-margin-right w3-text-teal"></i><a href="{% url 'stats' %}">Room Booking Statistics</a></b></p>

          <br>

            <p class="w3-large"><b><i class="fas fa-user-circle fa-fw w3-margin-right w3-text-teal"></i><a href="{% url 'manager-account' %}">Manager Account</a></b></p>

          <br>



        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-list-ul fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Change Password for Your Account</h2>

          {% load widget_tweaks %}
                  <form class="form" action="{% url 'manager-account'  %}" method="post" id="registrationForm">{% csrf_token %}

                      <div class="form-group">

                          <div class="col-xs-6">
                              <br><label for="password" style="color: #009688"><h4> Old Password</h4></label>
                               {% render_field password_form.old_password placeholder="old password" class="form-control" %}
                          </div>
                      </div>


                          <div class="form-group">

                          <div class="col-xs-6">
                              <br><label for="password" style="color: #009688"><h4> New Password</h4></label>
                               {% render_field password_form.new_password1 placeholder="old password" class="form-control" %}
                          </div>
                      </div>


                          <div class="form-group">

                          <div class="col-xs-6">
                              <br><label for="password" style="color: #009688"><h4> Verify New Password</h4></label>
                               {% render_field password_form.new_password2 placeholder="old password" class="form-control" %}
                          </div>
                      </div>


                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit" style="background-color: #009688"><i class="glyphicon glyphicon-ok-sign"></i>Save</button>
                               	<button class="btn btn-lg btn-success" type="reset" style="background-color: #009688"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>



              	</form>
      </div>


  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>




{% endblock %}
