{% extends 'home/base.html' %}

{% block body %}

    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-info">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <strong style="text-align: center">{{ message }}</strong>



            </div>

        {% endfor %}
    {% endif %}

<br>


        <div class="banner-top" style="background-color: #0f2453; position: relative"  >
				<h2>Please fill the details to continue.</h2>

				<div class="banner-bottom">
					<form  name="login" method="post" action="{% url 'login' %}">{% csrf_token %}



                    <div class="bnr-one">
						<div class="bnr-left" style="margin-top: 4%;">
							<p>Institute Email</p>
						</div>
						<div class="bnr-right time-pic" style="padding: 5%;">
							<input style="" type="email" id="email" name="email" class=" form-control" required ><br>
						</div>
						<div class="clearfix"></div>
					</div>


                     <div class="bnr-one">
						<div class="bnr-left" style="margin-top: 4%;">
							<p>Password</p>
						</div>
						<div class="bnr-right time-pic"style="padding: 5%;" >
							<input style="" type="password" id="password" name="password" class=" form-control" required ><br>
						</div>
						<div class="clearfix"></div>
					</div>


					<div class="bnr-btn" style="width: 50%; margin-top: 100px;">

							<input type="submit" value="Login">

					</div>
                    </form><br>
                    <a href="{% url 'password_reset' %}" style="color: white">Forgot Password?</a>
				</div>

</div>





{% endblock %}