/*
 Theme Name:   Alien Ship 1.2.5 Child
 Theme URI:
 Description:  Alien Ship Child Theme
 Author:       Julien Vandaele <julien.vandaele@inria.fr>
 Author URI:
 Template:     alienship-1.2.5
 Version:      0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

@import url("fonts/opensans_bold_macroman/stylesheet.css");


/* override default bootstrap primary color with iot-lab blue */
a {
  color: #4480ca;
}
a:hover, a:focus {
  color: rgb(32, 83, 157);
}
.btn-primary {
  background-color: #4480ca;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: rgb(32, 83, 157);
}
/* override default border radius to make it look more modern */
.btn, .well, .panel, .form-control {
  border-radius: 3px;
}
.btn-lg, .btn-group-lg>.btn {
  border-radius: 4px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Padding top by navbar height*/
  padding-top: 60px;
  /* Margin bottom by footer height */
  margin-bottom: 117px;
}
:target {
  /* Padding top by navbar height to avoid overlap */
  padding-top: 65px;
}
.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 50px; */
}
.site-footer .fit-logo {
  height: 70px;
}

/**********/
/* HEADER */
/**********/

img {
  max-width: 100%;
}
h1, h2 {
  font-family: ubunturegular, Arial, helvetica, sans-serif;
}
div.slogan {
  margin-top: 40px;
}

.slogan h2 {
  font-size: 48px;
}

.slogan h3 {
  font-size: 30px;
}

/**********/
/* FOOTER */
/**********/

.site-footer {
    background-color: #404040;
    color: white;
    font-size: 10pt;
    padding: 15px 0;
}

.footer-text {
    margin: 13px 0;
}

.footer-text > a {
    font-family: open_sansbold;
    color:white;
    text-decoration: none;
    margin: 0 8px;
}

.footer-text > a:hover {
    text-decoration: underline;
}

/********/
/* MENU */
/********/
.navbar-onelab  {
    margin-bottom: 0;
    background-color: #FFF;
}

.navbar-onelab img {
    margin: 7px;
    margin-left: -6px;
    padding: 2px;
    height: 47px;
}

.navbar-onelab .testbed {
    margin-top: 13px;
    text-transform: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-onelab .navbar-nav > li {
    font-family:open_sansbold, sans-serif;
    font-size:10pt;
    font-weight:normal;
    line-height:0.8em;
    letter-spacing:0.4pt;
    list-style:none;
    float:left;
    margin:0;
    text-transform:uppercase;
}
.navbar-onelab .navbar-nav > li.open > a {
    border-bottom: solid 3px rgb(32, 83, 157);
}
.navbar-onelab .navbar-nav > li.current-menu-parent > a,
.navbar-onelab .navbar-nav > li.current-menu-item > a {
    border-bottom: solid 3px rgb(139, 176, 222);
}

.navbar-onelab .navbar-nav > li > a {
    padding: 21px 15px 17px 15px;
    text-decoration:none;
    color: #4480ca;
    outline:0;
}

.navbar-onelab .navbar-nav > li > a:hover,
.navbar-onelab .navbar-nav > li > a:focus,
.navbar-onelab .navbar-nav>.active>a,
.navbar-onelab .navbar-nav>.active>a:hover,
.navbar-onelab .navbar-nav>.active>a:focus,
.navbar-onelab .navbar-nav>.current-menu-ancestor>a,
.navbar-onelab .navbar-nav>.current-menu-ancestor>a:hover,
.navbar-onelab .navbar-nav>.current-menu-ancestor>a:focus {
    color: rgb(32, 83, 157);
    background-color: #FFF;
    text-decoration:none;
}
.navbar-onelab .navbar-nav > li > a:active {
    text-decoration:none;
}

.navbar-onelab .navbar-nav>.open>a,
.navbar-onelab .navbar-nav>.open>a:hover,
.navbar-onelab .navbar-nav>.open>a:focus {
    color: rgb(32, 83, 157);
    background-color: #FFF;
}


.navbar-onelab .dropdown-menu > li > a {
    color: #4480ca;
    padding: 8px 35px;
}
.navbar-onelab .dropdown-menu > li > a:hover {
    color: rgb(32, 83, 157);
    background-color: transparent;
}
.navbar-onelab .dropdown-menu > .active > a,
.navbar-onelab .dropdown-menu > .active > a:hover,
.navbar-onelab .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: rgb(32, 83, 157);
}


/**************/
/* DEPLOYMENT */
/**************/
.jumbotron-city-grenoble, .jumbotron-city-lille, .jumbotron-city-strasbourg, .jumbotron-city-rennes , .jumbotron-city-paris, .jumbotron-city-saclay, .jumbotron-city-lyon, .jumbotron-city-berlin {
        color : white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
}

.jumbotron-city-grenoble {
        background-image: url('/wp-content/uploads/2014/01/1280px-Grenoble_-panorama.jpg');
}

.jumbotron-city-lille {
        background-image: url('/wp-content/uploads/2014/01/Grand-Place_Lille_panorama.jpg');
}

.jumbotron-city-strasbourg {
        background-image: url('/wp-content/uploads/2014/01/1024px-Strasbourg_-_Ponts_Couverts_vus_de_la_terrasse_panoramique.jpg');
}

.jumbotron-city-rennes {
        background-image: url('/wp-content/uploads/2014/02/1024px-Place_Saint_Anne_Rennes.jpg');
}

.jumbotron-city-paris {
        background-image: url('/wp-content/uploads/2014/02/Pont_des_Arts_Paris.jpg');
}

.jumbotron-city-saclay {
        background-image: url('/wp-content/uploads/2016/05/Campus_Ecole_polytechnique_de_palaiseau.jpg');
}

.jumbotron-city-lyon {
        background-image: url('/wp-content/uploads/2016/05/panorama_lyon-1024x368.jpg');
}

.jumbotron-city-berlin {
        background-image: url('/wp-content/uploads/2016/07/Berlin_Panorama_Cropped.jpg');
}



/**************/
/* CONSORTIUM */
/**************/
.logo-partners {
    margin:20px auto;
}
.logo-partners div {
    height:90px;
}
.logo-partners .l1 img {
    margin-top:25px;
}
.logo-partners .l2 img {
    margin-top:25px;
}
.logo-partners .l3 img {
    margin-top:10px;
    height:70px;
    width:auto;
}
.logo-partners .l4 img {
    height:90px;
    width:auto;
}
.logo-partners .l5 img {
    margin-top:10px;
    height:70px;
    width:auto;
}

.image-shadow {
    margin: 30px 5px;
    padding: 15px !important;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
}