@import url("fonts/ubuntu/stylesheet.css");

/********/
/* HOME */
/********/
div.home {
    font-family: ubunturegular, Arial, helvetica, sans-serif;
    font-size:11pt;
    line-height:1.2em;
    letter-spacing:0.3pt;
    min-height:600px;
    background-image: url('img_header/bg-home1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    background-color:#086274;
    padding: 0px;
}
div.home h2 {
    line-height:1.2em;
}
div.home h3 {
    line-height:1.4em;
}

div.slogan {
    text-align:center;
    color:white;
    padding-top:60px;
    text-shadow: 1px 1px 10px #004154;
}

.login-column {
    background:rgba(255,255,255,0.7);
    border: 2px solid transparent;
    min-height:600px;
}
.login-header {
    font-size:9pt;
    padding:0;
    margin:0;
    position:absolute;
    bottom:50px;
    text-align:center;
}
.login-form {
    margin-top:120px;
    padding:0 25px 25px 25px;
}
.login-form input {
    width:100%;
}
.login-form input[type=submit] {
    width:auto;
}
.onelab-form {
    text-align:center;
}
.onelab-form img {
    width:150px;
    margin:5px 0 5px 0;
    padding:0;
}
.onelab-tagline {
    font-size:9pt;
    padding:0 0 5px 0;
}
div.form-group {
    margin-bottom:15px;
}
.login-submit {
    vertical-align:middle;
    padding:0;
}
.lost-password {
    font-size:9pt;
    color:#004154;
    text-align:right;
    padding:0px;
}
.lost-password a {
    color:#004154;
}
.login-signup {
    font-size:12pt;
    color:#004154;
    margin-top:25px;
    padding:5px 0 0 4px;
    text-align:center;
    line-height:1.6em;

}
.login-signup a {
    color:#004154;
    padding-bottom:2px;
    border-bottom:2pt solid #004154;
}
.login-signup a:hover {
    text-decoration:none;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number], select, option {
    min-width:260px;
    padding:6px;
    border:1pt solid #22606D;
    vertical-align:bottom;
    border-radius:0;
}
button.btn-onelab, input.btn-onelab {
    border:0;
    border-bottom:3px solid #760073;
    background-color:#302562;
    color:white;
}
button.btn-onelab:hover, input.btn-onelab:hover {
    border:0;
    border-bottom:3px solid #760073;
    background-color:#302562;
    color:white;
}
button.btn-onelab:active, input.btn-onelab:active {
    box-shadow:none;
    border-bottom:1px solid #760073;
    margin-top:2px;
}