{% extends 'booking/base.html' %}

{% block body %}

<style>
    . list{
        width: 100%;
        height: 50%;
    }
</style>





<div class="plans-section" id="rooms">
				 <div class="container">
				 <h3 class="title-w3-agileits title-black-wthree">Availability of Rooms</h3>
						<div class="priceing-table-main">


                            {% for room in rooms %}

                                {% if  room.rcount == 0 %}

                                    <div class="list price-grid wthree lost">
                                        <div class="price-block agile">
                                            <div class="price-gd-top " >
                                                <h4 style="margin-top: -170px";>#{{ room.rcount }} Rooms </h4>
                                            </div>
                                            <div class="price-gd-bottom">
                                                <br>
                                                <div class="price-selet">
                                                    <h3><span>#</span> Sorry Rooms are Not Available @ {{ room.guesthouse }}</h3>
                                                    <a href="{% url 'index' %}" >Go Back</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br><br><br>

                                {% else %}

                                    <div class="list price-grid wthree lost">
                                        <div class="price-block agile">
                                            <div class="price-gd-top " >
                                                <h4 style="margin-top: -170px";>#{{ room.rcount }} Rooms </h4>
                                            </div>
                                            <div class="price-gd-bottom">
                                                <br>
                                                <div class="price-selet">
                                                    <h3><span>#</span> Available @ {{ room.guesthouse }}</h3>
                                                    <a href="{% url 'index' %}" >Books</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br><br><br>

                                {% endif %}



                            {% endfor %}
                        <div class="list price-grid wthree lost">
                                        <div class="price-block agile">
                                            <div class="price-gd-top " >
                                                <h4 style="margin-top: -170px";>#71 Rooms </h4>
                                            </div>
                                            <div class="price-gd-bottom">
                                                <br>
                                                <div class="price-selet">
                                                    <h3><span>#</span>  Available @ Vikram Sarabhai Guest House</h3>
                                                    <a href="{% url 'index' %}" >Book</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br><br><br>
                        <div class="list price-grid wthree lost">
                                        <div class="price-block agile">
                                            <div class="price-gd-top " >
                                                <h4 style="margin-top: -170px";>#97 Rooms </h4>
                                            </div>
                                            <div class="price-gd-bottom">
                                                <br>
                                                <div class="price-selet">
                                                    <h3><span>#</span>  Available @  Vikram Sarabhai Guest House</h3>
                                                    <a href="{% url 'index' %}" >Book</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br><br><br>
                        <div class="list price-grid wthree lost">
                                        <div class="price-block agile">
                                            <div class="price-gd-top " >
                                                <h4 style="margin-top: -170px";>#86 Rooms </h4>
                                            </div>
                                            <div class="price-gd-bottom">
                                                <br>
                                                <div class="price-selet">
                                                    <h3><span>#</span>  Available @  Vikram Sarabhai Guest House</h3>
                                                    <a href="{% url 'index' %}" >Book</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br><br><br>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}