{% extends 'booking/base.html' %}

{% block body %}

<style>
    . list{
        width: 100%;
        height: 50%;
    }
</style>





<div class="plans-section" id="rooms">
				 <div class="container">
				 <h3 class="title-w3-agileits title-black-wthree">Availability of Rooms</h3>
						<div class="priceing-table-main">


				<div class="list price-grid wthree lost">
					<div class="price-block agile">
						<div class="price-gd-top " >
							<h4 style="margin-top: -170px";>#200 Rooms </h4>
						</div>
						<div class="price-gd-bottom">
							<br>
							<div class="price-selet">
								<h3><span>#</span> Available @ Vikram Sarabhai guest house</h3>
								<a href="{% url 'index' %}" >Book Now</a>
							</div>
						</div>
					</div>
				</div><br><br><br>


                 <div class="list price-grid wthree lost">
					<div class="price-block agile">
						<div class="price-gd-top " >
							<h4 style="margin-top: -170px";>#200 Rooms </h4>
						</div>
						<div class="price-gd-bottom">
							<br>
							<div class="price-selet">
								<h3><span>#</span> Available @ Vikram Sarabhai guest house</h3>
								<a href="{% url 'index' %}" >Book Now</a>
							</div>
						</div>
					</div>
				</div><br><br><br>


                 <div class="list price-grid wthree lost">
					<div class="price-block agile">
						<div class="price-gd-top " >
							<h4 style="margin-top: -170px";>#200 Rooms </h4>
						</div>
						<div class="price-gd-bottom">
							<br>
							<div class="price-selet">
								<h3><span>#</span> Available @ Vikram Sarabhai guest house</h3>
								<a href="{% url 'index' %}" >Book Now</a>
							</div>
						</div>
					</div>
				</div><br><br><br>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}