{% extends 'booking/base.html' %}

{% block body %}

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;}
    . list{
        width: 100%;
        height: 50%;
    }
.collapsible {
    background-color: #ffce14;
    color: black;
    cursor: pointer;
    padding: 12px;
    width: 15%;
    border: none;
    text-align: center;
    outline: none;
}
.active, .collapsible:hover {
    background-color: #ffce14;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;}
</style>





<div class="plans-section" id="rooms">
				 <div class="container">
				 <h3 class="title-w3-agileits title-black-wthree">Enter the Guest Information</h3>
						<div class="priceing-table-main">

                            {% load widget_tweaks %}

                                    <div class="list price-grid wthree lost">
                                    <div class="price-block agile">
                                        <div class="price-gd-top " >

                                        </div>
                                        <div class="price-gd-bottom">
                                            <br>
                                            <div class="price-selet">
                                                <h3>  <span>Guest {{ T }}</span></h3>
                                                    <button class="collapsible">Enter Details</button>
                                                    <div class="content"><br><br><br>


                                                    <form class="form" action="{% url 'guest_details' g t%}" method="post" id="registrationForm" enctype="multipart/form-data">{% csrf_token %}

                                                    <div class="form-group">

                                                          <div class="col-xs-6">
                                                              <br><label for="first_name"><h4>First name</h4></label>
                                                              {% render_field form.first_name placeholder="old password" class="form-control" %}
                                                          </div>
                                                      </div>
                                                      <div class="form-group">

                                                          <div class="col-xs-6">
                                                            <br><label for="last_name"><h4>Last name</h4></label>
                                                              {% render_field form.last_name placeholder="old password" class="form-control" %}
                                                          </div>
                                                      </div>



                                                      <div class="form-group">
                                                          <div class="col-xs-6">
                                                             <br><label for="mobile"><h4>Mobile</h4></label>
                                                              {% render_field form.phone placeholder="old password" class="form-control" %}
                                                          </div>
                                                      </div>
                                                      <div class="form-group">

                                                          <div class="col-xs-6">
                                                              <br><label for="email"><h4>Email</h4></label>
                                                              {% render_field form.email placeholder="old password" class="form-control" %}
                                                          </div>
                                                      </div>

                                                        <div class="form-group" style="margin-left: 300px">
                                                    <div class="col-xs-12">
                                                             <br>
                                                        <button class="btn btn-lg btn-success" type="submit" style="background-color: #0f2453; "><i class="glyphicon glyphicon-ok-sign"></i>Save</button>
                                                        <button class="btn btn-lg btn-success" type="reset" style="background-color: #0f2453"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                                    </div>
                                                </div>


                                                    </form>




                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div><br><br><br>















				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

    <script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock %}