{% extends 'booking/base.html' %}

{% block body %}

    <br>
    <br>
    <br>
    <br>

    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-info">
                <strong style="text-align: center">{{ message }}</strong>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
            </div>

        {% endfor %}
    {% endif %}



    <div class="banner-top"  style="background-color: #0f2453; ">
                    <h2>Book Your Room Today</h2>
                    <div class="banner-bottom">
                        {% load widget_tweaks %}
                        <form method="post" action="{% url 'index' %}" id="options_form"> {% csrf_token %}

                            <div class="bnr-one">
                                <div class="bnr-left" style="margin-top: 2%">
                                    <p>Check In Date</p>
                                </div>
                                <div class="bnr-right" style="padding: 4%">
                                    {% render_field form.start_date placeholder="start date" class="form-control" %}
                                </div>
                                <div class="clearfix"></div>
                            </div>



                            <div class="bnr-one">
                                <div class="bnr-left" style="margin-top: 2%">
                                    <p>Check Out Date</p>
                                </div>
                                <div class="bnr-right" style="padding: 4%">
                                    {% render_field form.end_date placeholder="end date" class="form-control" %}
                                </div>
                                <div class="clearfix"></div>
                            </div>


{#                            <div class="bnr-one">#}
{#                            <div class="bnr-left">#}
{#                                <p>Room</p>#}
{#                            </div>#}
{#                            <div class="bnr-right">#}
{#                                <select name="room_type" id="mySeleclt" onChange="checsk(this);">#}
{#                                    <option >Select a type</option>#}
{#                                    <option >Single AC</option>#}
{#                                    <option >Double AC</option>#}
{#                                    <option >Single NON AC</option>#}
{#                                    <option >Double NON AC</option>#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#                        <!--<div class="bnr-one">#}
{#                            <div class="bnr-left">#}
{#                                <p>Check In Time</p>#}
{#                            </div>#}
{#                            <div class="bnr-right time-pic">#}
{#                                <input type="text" id="timepicker" name="starttime" class="timepicker form-control"><br>#}
{#                            </div>#}
{##}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                        <div class="bnr-one">#}
{#                            <div class="bnr-left">#}
{#                                <p>Check Out Time</p>#}
{#                            </div>#}
{#                            <div class="bnr-right time-pic">#}
{#                                <input type="text" id="timepicker" name="endtime" class="timepicker form-control"><br>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>-->#}
{#                        <div class="bnr-one">#}
{#                            <div class="bnr-left">#}
{#                                <p>Number of Persons</p>#}
{#                            </div>#}
{#                            <div class="bnr-right">#}
{#                                <select name="people">#}
{#                                    <option  class="rm">0</option>#}
{#                                    <option  class="rm" >1</option>#}
{#                                    <option  class="rm" >2</option>#}
{#                                    <option  class="rm" >3 or 3+</option>#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}



                        <br><br><br><br><div class="bnr-btn">

                                <input type="submit" value="Book Now">
                            </form>
                        </div>
                    </div>
    </div>

    <script type="text/javascript">
            function check(elem) {
                    alert("jhj");

                }
    </script>
{% endblock %}