{% extends 'booking/base.html' %}

{% block body %}



    <div class="banner-top" style="background-color: #0f2453; margin-top: 50px">
                    <h2>Book Your Room Today</h2>
                    <div class="banner-bottom">
                        <form method="post" action="{% url 'book' %}"> {% csrf_token %}
                        <div class="bnr-one">
                            <div class="bnr-left">
                                <p>Check In Date</p>
                            </div>
                            <div class="bnr-right">
                                <input name="startdate" class="date" id="datepicker" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required=>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="bnr-one">
                            <div class="bnr-left">
                                <p>Check Out Date</p>
                            </div>
                            <div class="bnr-right">
                                <input name="enddate" class="date" id="datepicker1" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required=>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="bnr-one">
                            <div class="bnr-left">
                                <p>Check In Time</p>
                            </div>
                            <div class="bnr-right time-pic">
                                <input type="text" id="timepicker" name="starttime" class="timepicker form-control"><br>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="bnr-one">
                            <div class="bnr-left">
                                <p>Check Out Time</p>
                            </div>
                            <div class="bnr-right time-pic">
                                <input type="text" id="timepicker" name="endtime" class="timepicker form-control"><br>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="bnr-one">
                            <div class="bnr-left">
                                <p>Adults</p>
                            </div>
                            <div class="bnr-right">
                                <select name="people">
                                    <option  class="rm">0</option>
                                    <option  class="rm" >1</option>
                                    <option  class="rm" >2</option>
                                    <option  class="rm" >3 or 3+</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="bnr-one">
                            <div class="bnr-left">
                                <p>Children</p>
                            </div>
                            <div class="bnr-right">
                                <select>
                                    <option  class="rm" value="volvo">0</option>
                                    <option  class="rm" value="saab">1</option>
                                    <option  class="rm" value="opel">2</option>
                                    <option  class="rm" value="audi">3 or 3+</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="bnr-one">
                            <div class="bnr-left">
                                <p>Room</p>
                            </div>
                            <div class="bnr-right">
                                <select>
                                    <option value="volvo">Select a type</option>
                                    <option value="saab">Single AC</option>
                                    <option value="opel">Double AC</option>
                                    <option value="audi">Single NON AC</option>
                                    <option value="audi">Double NON AC</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="bnr-btn">

                                <input type="submit" value="Book Now">
                            </form>
                        </div>
                    </div>
    </div>
{% endblock %}