<!DOCTYPE html>
<html lang="en">
<head>


<title>Home | Online Guest House Room Booking</title>
    <link rel="shortcut icon" href="http://www.nitk.ac.in/sites/default/files/public/favicon.ico" type="image/vnd.microsoft.icon" />

<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resort Inn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>


<!-- //for-mobile-apps -->
<link href="../../static/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../../static/home/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="../../static/home/css/chocolat.css" type="text/css" media="screen">
<link href="../../static/home/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="../../static/home/css/flexslider.css" type="text/css" media="screen" property="" />
<link rel="stylesheet" href="../../static/home/css/jquery-ui.css" />
<link href="../../static/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../../static/home/js/modernizr-2.6.2.min.js"></script>


<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Federo" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<!--//fonts-->
<title>Book | Online Guest house Room Booking System</title>
    <link rel="shortcut icon" href="http://www.nitk.ac.in/sites/default/files/public/favicon.ico" type="image/vnd.microsoft.icon" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Elite Hotel Booking Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<!-- //font files -->
<!-- css files -->
<link href="../../static/booking/css/bootstrap.css" rel='stylesheet' type='text/css' media="all">
<link href="../../static/booking/css/wickedpicker.css" rel="stylesheet" type="text/css" media="all">
<link href="../../static/booking/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="../../static/home/css/style.css" rel="stylesheet" type="text/css" media="all">
<!-- /css files -->
<!-- js files -->
<script src="../../static/booking/js/jquery.min.js"></script>
<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Federo" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
</head>
<body>



<!-- header -->

	<div class="w3_navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="{% url 'index' %}">NITK <span>Surathkal</span><p class="logo_w3l_agile_caption">Guest House Room Booking Portal</p></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--iris">
						<ul class="nav navbar-nav menu__list">
							<li class="menu__item "><a href="{% url 'index' %}" class="menu__link">BooK Room</a></li>
							<li class="menu__item menu__item--current"><a href="{% url 'my_bookings' %}" class="menu__link">My Bookings</a></li>
							<li class="menu__item "><a href="{% url 'account' %}" class="menu__link">Account</a></li>
							<li class="menu__item "><a href="{% url 'logout' %}" class="menu__link">Logout</a></li>
						</ul>
					</nav>
				</div>
			</nav>

		</div>
	</div>
<!-- //header -->

<style>
    . list{
        width: 100%;
        height: 50%;
    }
</style>





<div class="plans-section" id="rooms">
				 <div class="container">
				 <h3 class="title-w3-agileits title-black-wthree">Your Bookings</h3>
						<div class="priceing-table-main">


				<div class="list price-grid wthree lost">
					<div class="price-block agile">
						<div class="price-gd-top " >
							<h4 style="margin-top: -170px";>01 / 02 / 2018 </h4>
						</div>
						<div class="price-gd-bottom">
							<br>
							<div class="price-selet">
								<h3><span>#</span> 150, Vikram Sarabhai Guest House</h3>
								<a href="{% url 'index' %}" >Book Again</a>
							</div>
						</div>
					</div>
				</div><br><br><br>


                 <div class="list price-grid wthree lost">
					<div class="price-block agile">
						<div class="price-gd-top " >
							<h4 style="margin-top: -170px";>01 / 02 / 2018 </h4>
						</div>
						<div class="price-gd-bottom">
							<br>
							<div class="price-selet">
								<h3><span>#</span> 150, Vikram Sarabhai Guest House</h3>
								<a href="{% url 'index' %}" >Book Again</a>
							</div>
						</div>
					</div>
				</div><br><br><br>


                 <div class="list price-grid wthree lost">
					<div class="price-block agile">
						<div class="price-gd-top " >
							<h4 style="margin-top: -170px";>01 / 02 / 2018 </h4>
						</div>
						<div class="price-gd-bottom">
							<br>
							<div class="price-selet">
								<h3><span>#</span> 150, Vikram Sarabhai Guest House</h3>
								<a href="{% url 'index' %}" >Book Again</a>
							</div>
						</div>
					</div>
				</div><br><br><br>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>













<!-- /contact -->
<div class="footer" style="position:fixed; bottom: 0;width: 100%">
    <div class="copy">
		        <p>© 2018 NITK Surathkal . All Rights Reserved | Design by Siddesh LC</p>
		    </div>
</div>

<!--/footer -->
<!-- js -->
<script type="text/javascript" src="../../static/home/js/jquery-2.1.4.min.js"></script>
<!-- contact form -->
<script src="../../static/home/js/jqBootstrapValidation.js"></script>
<script src="../../static/home/js/contact_me.js"></script>
<!-- /contact form -->
<!-- Calendar -->
		<script src="../../static/home/js/jquery-ui.js"></script>
		<script>
				$(function() {
				$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
				});
		</script>
<!-- //Calendar -->
<!-- gallery popup -->
<link rel="stylesheet" href="../../static/home/css/swipebox.css">
				<script src="../../static/home/js/jquery.swipebox.min.js"></script>
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>
<!-- //gallery popup -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../../static/home/js/move-top.js"></script>
<script type="text/javascript" src="../../static/home/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- flexSlider -->
				<script defer src="../../static/home/js/jquery.flexslider.js"></script>
				<script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
			  </script>
			<!-- //flexSlider -->
<script src="../../static/home/js/responsiveslides.min.js"></script>
			<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider4").responsiveSlides({
							auto: true,
							pager:true,
							nav:false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });

						});
			</script>
		<!--search-bar-->
		<script src="../../static/home/js/main.js"></script>
<!--//search-bar-->
<!--tabs-->
<script src="../../static/home/js/easy-responsive-tabs.js"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!--//tabs-->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>

	<div class="arr-w3ls">
	<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
<!-- //smooth scrolling -->
<script type="text/javascript" src="../../static/home/js/bootstrap-3.1.1.min.js"></script>
</body>
</html>
