{% extends 'home/base.html' %}

{% block body %}
    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-info">
                <strong style="text-align: center">{{ message }}</strong>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>

            </div>

        {% endfor %}
    {% endif %}

        <div class="banner-top" style="background-color: #0f2453; margin-top: 50px">
				<h2>Please fill the details to continue.</h2>

				<div class="banner-bottom">
					<form  name="login" method="post" action="{% url 'login' %}">{% csrf_token %}



                    <div class="bnr-one">
						<div class="bnr-left">
							<p>Institute Email</p>
						</div>
						<div class="bnr-right time-pic" >
							<input style="margin-left: -40px;" type="email" id="email" name="email" class=" form-control" required ><br>
						</div>
						<div class="clearfix"></div>
					</div>


                     <div class="bnr-one">
						<div class="bnr-left">
							<p>Password</p>
						</div>
						<div class="bnr-right time-pic" >
							<input style="margin-left: -40px;" type="password" id="password" name="password" class=" form-control" required ><br>
						</div>
						<div class="clearfix"></div>
					</div>


					<div class="bnr-btn" style="width: 50%; margin-top: 100px;">

							<input type="submit" value="Login">

					</div>
                    </form>
				</div>

</div>
{% endblock %}