<!DOCTYPE html>
<html lang="en">
<head>


{% block title %}<title></title>{% endblock title %}
    <link rel="shortcut icon" href="http://www.nitk.ac.in/sites/default/files/public/favicon.ico" type="image/vnd.microsoft.icon" />

<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resort Inn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>


<!-- //for-mobile-apps -->
<link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../../static/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="../../static/css/chocolat.css" type="text/css" media="screen">
<link href="../../static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="../../static/css/flexslider.css" type="text/css" media="screen" property="" />
<link rel="stylesheet" href="../../static/css/jquery-ui.css" />
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../../static/js/modernizr-2.6.2.min.js"></script>


<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Federo" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<!--//fonts-->

</head>




<!-- header -->

	<div class="w3_navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<h1><a class="navbar-brand" href="{% url 'home' %}">NITK <span>Surathkal</span><p class="logo_w3l_agile_caption">Guest House Room Booking Portal</p></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--iris">
						<ul class="nav navbar-nav menu__list">
							<li class="menu__item menu__item--current"><a href="{% url 'home' %}" class="menu__link">Home</a></li>
						</ul>
					</nav>
				</div>
			</nav>

		</div>
	</div>
<!-- //header -->



    <footer>
        <div class="copy" style="position: absolute;bottom: 0;width: 100%">
            <p>© 2018 NITK Surathkal . All Rights Reserved | Design by Siddesh LC</p>
        </div>
    </footer>



{% block body %}
{% endblock body %}
</html>
