{% extends 'home/base.html' %}

{% block body %}
    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-info">
                <strong style="text-align: center">{{ message }}</strong>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>

            </div>

        {% endfor %}
    {% endif %}

 <div class="banner-top" style="background-color: #0f2453; margin-top: 50px">
				<h2>Please fill the details to continue.</h2>

				<div class="banner-bottom">
					<form  name="register" method="post" action="{% url 'register' %}">{% csrf_token %}


                        {% for feild in form %}

                            <div class="bnr-one">
                                <div class="bnr-left">
                                    <p> {{ feild.label_tag }}</p>
                                </div>
                                <div class="bnr-right time-pic" >
                                    {{ feild }}
                                </div>
                                <div class="clearfix"></div>
					        </div>

                        {% endfor %}

					<div class="bnr-btn" style="width: 50%; margin-top: 100px;">

							<input type="submit" value="Register">

					</div>
                    </form>
				</div>

</div>
{% endblock %}