

<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />


<title>Team &#8226; Know More About Developers</title>
<link rel="shortcut icon" href="http://nitk.ac.in/sites/all/themes/custom/edu/img/favicon.ico" type="image/x-icon"/>
    {% load staticfiles %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<link rel='stylesheet' id='responsive-lightbox-swipebox-front-css'  href='{% static 'home/css/swipebox.css' %}' type='text/css' media='all' />

<link rel='stylesheet' id='toc-screen-css'  href='{% static 'home/css/screen.css' %}' type='text/css' media='all' />

<link rel='stylesheet' id='parent-style-css'  href='{% static 'home/css/style.css' %}' type='text/css' media='all' />

<link rel='stylesheet' id='bootstrap-css'  href='{% static "home/css/bootstrap_min.css" %}' type='text/css' media='all' />

<link rel='stylesheet' id='alienship-style-css'  href='{% static "home/css/style1.css" %}' type='text/css' media='all' />

<link rel='stylesheet' id='onelab-css-css'  href='{% static "home/css/onelab.css" %}' type='text/css' media='all' />

</head>



<body class="home page page-id-176 page-template page-template-templates page-template-page-onelab page-template-templatespage-onelab-php layout-default">




	<nav class="navbar navbar-default navbar-onelab navbar-fixed-top top-navigation" role="navigation">
	    <div class="container">

            <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            {% load static %}
							<a href="{% url 'home' %}"><img src="{% static "home/images/Logo.png" %}" /></a>
            </div>


		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul id="menu-topmainmenu" class="nav navbar-nav">

                <li id="menu-item-2066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066"><a title="News" href="{% url 'news' %}"><b>News</b></a></li>

                <li id="menu-item-2066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066"><a title="Platform"  href="http://nitk.ac.in/"><b>NITK Website</b> </a></li>

                <li id="menu-item-2066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066"><a title="Dev Center"  href="https://iris.nitk.ac.in/hrms/"><b>IRIS Website</b>  </a></li>

                <li id="menu-item-2066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066"><a title="Community" href="{% url 'team' %}"><b>Team</b> </a></li>

                <li id="menu-item-2066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2066"><a title="Get Started" href="#"><b>Get Started</b></a></li>
            </ul>

			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown"> <a href="{% url 'home' %}" title="Testbed activity"><span class="glyphicon glyphicon-calendar"></span> <b>Events</b> </a> </li>

                <li><span><a href="{% url 'admin_login' %}" class="btn btn-primary testbed" title="Login"><b>Admin Login</b></a></span></li>

            </ul>
		</div>
	    </div>
	</nav>








    <div id="content" class="site-content">
        <div class="container">

		    <div class="entry-content">
                <div class="pf-content">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>IoT-LAB: a very large scale open testbed</h1>
                            <p class="lead text-muted">IoT-LAB provides a very large scale infrastructure facility suitable for testing small wireless sensor devices and heterogeneous communicating objects.</p>
                        </div>
                    </div>
                    <p>&nbsp;</p>



                    <br>
                    <div class="row">
                    <div class="col-md-8">
                    <h3>Siddesh LC</h3>
                    <p>IoT applications involve mobile entities with either controlled or uncontrolled mobility. IoT applications involve mobile entities with either controlled or uncontrolled mobility. That&#8217;s why IoT-LAB testbed offers some mobile nodes. They move on the ground in the space that contains the fixed nodes. The user interaction with the mobile open-node is similar to that of a fixed node.</p>

                    </div>
                    <div class="col-md-4"><img class="aligncenter size-medium wp-image-3534" src="{% static "home/images/siddesh.jpg" %}" alt="lille_8035" width="300" height="199" /></div>
                    </div>

                    <br>
                    <div class="row">
                    <div class="col-md-8 col-md-push-4">
                    <h3>Praveen Naik S</h3>
                    <p>IoT-LAB offers web-based reservation and tooling for applications development, along with direct command-line access to the platform.  Sensor nodes firmwares can be built from source and deployed on reserved nodes, application activity can be controlled and monitored, power consumption or radio interference can be measured using the provided tools.</p>

                    </div>
                    <div class="col-md-4 col-md-pull-8"><img class="aligncenter size-medium wp-image-973" src="{% static "home/images/praveen.jpg" %}" alt="Develop on IoT-LAB" width="300" height="200" /></div>
                    </div>



                    <div class="row">
                    <div class="col-md-12 text-center">
                    <div style="padding: 40px 0;">
                    <h2>Register now and start using IoT-LAB.</h2>
                    <p class="text-muted">It&#8217;s quick and sounds fantastic!</p>
                    <p><a href="#" type="button" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                <b>Book Room</b>
                            </a></p>
                    </div>
                    </div>
                    </div>
</div></div><!-- .entry-content -->
	</div><!-- /container -->
</div><!-- #content -->








<footer class="site-footer" id="colophon" role="contentinfo">

	<div class="container">
		<div class="row">

			<div class="bottom-navigation col-sm-6 col-sm-push-6">
							</div><!-- .bottom-navigation -->
                </div><!-- .row -->

		<div class="row">
			<div class="footer-text col-sm-9">
				<a href="#">WHAT IS IOT-LAB?</a> <a href="#">ABOUT US</a> <a href="mailto:admin@iot-lab.info">CONTACT US</a> <a href="#" target="_blank">SUPPORT</a>   Copyright © NITK 2018			</div><!-- .footer-text -->
			<div class="col-sm-3">
				<a href="http://fit-equipex.fr/"><img class="fit-logo center-block" src="https://www.iot-lab.info/wp-content/themes/alienship-1.2.5-child/templates/parts/fit-white.svg"></a>
			</div>

		</div><!-- .row -->
	</div><!-- .container -->

	</footer><!-- #colophon -->


</body>
</html>